In [1]:
# List of high schools
#high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]
#for school in high_schools:
    #print(school)

In [2]:
high_school_types = [{"High School": "Griffin", "Type":"District"}, 
                     {"High School": "Figueroa", "Type": "District"},
                     {"High School": "Wilson", "Type": "Charter"},
                     {"High School": "Wright", "Type": "Charter"}
                    ]

for dict_type in high_school_types:
    print(dict_type)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [3]:
# List of Highschools
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School" ]

In [4]:
#import Pandas library to use panda.Series() method
#import pandas as the alias "pd" - easier to use this alias then write it all out

import pandas as pd

In [5]:
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [6]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [7]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [8]:
# Three Separate Lists of Information on High Schools 
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School"]

type_of_school = ["District", "District", "Charter", "District", "Charter"]

In [9]:
#Initialize a new Dataframe -- It is empty and will be filled 
schools_df = pd.DataFrame()

In [10]:
#Add the list to a new dataframe - 1 way to create a Dataframe
# creates key "School Id" and populates that key with the values of  list "school_id"
schools_df["School Id"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school
schools_df

   School Id            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [11]:
# Create a dictionary of information on high schools - another way to create a Dataframe
high_schools_dict = {"School ID": school_id, "School Name": school_name, "Type": type_of_school}

In [12]:
#Column Attribute
schools_df.columns

Index(['School Id', 'School Name', 'Type'], dtype='object')

In [13]:
schools_df.index

RangeIndex(start=0, stop=5, step=1)

In [14]:
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [22]:
#Lists for new dataframe
id = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
type = ["District", "District", "Charter", "District", "Charter", "Charter", "Charter", "District", "Charter", "Charter", "Charter", "District", "District", "District", "Charter"]

#Create the home for these lists - the dataframe
new_schooldf = pd.DataFrame()
# Populate the dataframe
new_schooldf["School Id"] = id
new_schooldf["School Name"] = name
new_schooldf["School Type"] = type
new_schooldf

    School Id            School Name School Type
0           0      Huang High School    District
1           1   Figueroa High School    District
2           2    Shelton High School     Charter
3           3  Hernandez High School    District
4           4    Griffin High School     Charter
5           5     Wilson High School     Charter
6           6    Cabrera High School     Charter
7           7     Bailey High School    District
8           8     Holden High School     Charter
9           9       Pena High School     Charter
10         10     Wright High School     Charter
11         11  Rodriguez High School    District
12         12    Johnson High School    District
13         13       Ford High School    District
14         14     Thomas High School     Charter